<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta name="format-detection" content="telephone=no">
    <meta HTTP-EQUIV="pragma" CONTENT="no-cache">
    <meta HTTP-EQUIV="Cache-Control" CONTENT="no-cache, no-store, must-revalidate">
    <meta HTTP-EQUIV="expires" CONTENT="Wed, 26 Feb 1999 08:21:57 GMT">
    <meta HTTP-EQUIV="expires" CONTENT="0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="shortcut icon" href="#" />
    <% for (item of htmlWebpackPlugin.options.links) { %>
        <% if (typeof item === 'string' || item instanceof String) { item = { href: item, rel: 'stylesheet' } } %>
          <link<% for (key in item) { %> <%= key %>="<%= item[key] %>"<% } %>>
    <% } %>
    <% if (process.env.NODE_ENV == 'production') { %>
        <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.3.0/jquery.min.js"></script>
        
    <% } %>
</head>

<body>
    <div class="module_one_container" >
        <img src="${ require('../../assets/bg.png') }">
    </div>

</body>
</html>